In [2]:
import pandas as pd
df = pd.read_csv('input.csv')
df.shape

(2043, 11)

In [3]:
df.head(3)

,Unnamed: 0,sex,age,bp,chol,hdl,diab,Target,wc,bmi,N_FAT
0,0,2,64,116,175,74.400,0,0,85.8,25.600000,45.262769
1,1,2,43,105,253,32.512,0,0,80.3,24.531125,30.823617
2,2,1,52,143,196,49.648,0,0,71.9,23.100262,34.918353

In [4]:
df.Target.value_counts()

0    1646
1     397
Name: Target, dtype: int64

In [5]:
disease = len(df[df['Target'] == 1])
no_disease = len(df[df['Target']== 0])

In [6]:
df.isna().sum() # missing values

Unnamed: 0    0
sex           0
age           0
bp            0
chol          0
hdl           0
diab          0
Target        0
wc            0
bmi           0
N_FAT         0
dtype: int64

In [7]:
qualitative = []
quantitative = []
for feature in df.columns:
    if len(df[feature].unique()) <= 8:
        qualitative.append(feature)
    else:
        quantitative.append(feature)

In [8]:
quantitative

['Unnamed: 0', 'age', 'bp', 'chol', 'hdl', 'wc', 'bmi', 'N_FAT']

In [9]:
qualitative

['sex', 'diab', 'Target']

In [10]:
X = df.drop(columns=['Target','Unnamed: 0'])
y = df['Target']
print('shape of X and y respectively :', X.shape, y.shape)

shape of X and y respectively : (2043, 9) (2043,)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
print('shape of X and y respectively (train) :', X_train.shape, y_train.shape)
print('shape of X and y respectively (test) :', X_test.shape, y_test.shape)

shape of X and y respectively (train) : (1634, 9) (1634,)
shape of X and y respectively (test) : (409, 9) (409,)

In [12]:
print('RandomForestClassifier')
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100) # , max_depth=5, random_state=1
model.fit(X_train, y_train)
Y_pred = model.predict(X_test)
score = model.score(X_train, y_train)
print('Training Score:', score)
score = model.score(X_test, y_test)
print('Testing Score:', score)

RandomForestClassifier
Training Score: 1.0
Testing Score: 0.9633251833740831

In [37]:
import numpy as np
test_data = np.array([1,	50	,150, 250,	30,	1	,80,	22,	55	])
print(model.predict(test_data.reshape(1,9)))

[1]

In [38]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_pred,y_test)

0.9633251833740831

In [39]:
import pickle
filename = 'finalized_model.pkl'
pickle.dump(model, open(filename, 'wb'))